<div class="animated fadeIn">
   <div class="row">
 <div class="col-sm-6 col-lg-3">
      <div class="card">


        <div class="card-block p-1 clearfix">
          <i class="fa fa-user bg-info p-1 font-2xl mr-1 float-left"></i>
          <div class="h5 text-info mb-0 mt-h">Ashok Kadsur</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Company</div>
        </div>
      <!--col-sm-6 col-lg-3  <div class="card-block p-1 clearfix">
         <i class="glyphicons glyphicons-user x2"></i>
          <div class="h5 text-info mb-0 mt-h"><h3>Ashok Kadsur</h3></div>
         <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker  user-profile-icon "></i> Banaglore
                        </li>

                        <li>
                          <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                        </li>

                        <li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="http://www.legaldesk.com.com/profile/" target="_blank">www.legaldesk.com</a>
                        </li>
                      </ul>
        </div>-->
        <div class="card-footer px-1 py-h text-left">
             <button class="btn btn-sm btn-primary " type="button"><i class="fa fa-edit fa-sm"></i>&nbsp; Edit Profile </button>

        </div>
      </div>
    </div>
<div class="col-md-9 mb-3">
       
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Documents I Signed</ng-template>

 <div class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <div class="card-block">
      <table class="table " [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 20%">
            <mfDefaultSorter by="name">Document Name</mfDefaultSorter>
          </th>
          <th style="width: 50%">
            <mfDefaultSorter by="email">Client Company</mfDefaultSorter>
          </th>
         
          <th style="width: 10%">
            <mfDefaultSorter by="age">Signature Status</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="city">Status</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td >{{item.age}}</td>
          <td>{{item.city | uppercase}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
      </div>
    </div>


       </tab>
        <tab>
          <ng-template tabHeading><i class="icon-basket-loaded"></i> Recent Activity</ng-template>





 <div class="card-block">
      <div class="row mb-1">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <div class="card-block">
      <table class="table " [mfData]="data2 | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 20%">
            <mfDefaultSorter by="name">Document Name</mfDefaultSorter>
          </th>
          <th style="width: 50%">
            <mfDefaultSorter by="email">Client Company</mfDefaultSorter>
          </th>
         
          <th style="width: 10%">
            <mfDefaultSorter by="age">Signature Status</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="city">Status</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of mf.data">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td >{{item.age}}</td>
          <td>{{item.city | uppercase}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
      </div>
    </div>



    <table class="table table-hover table-outline mb-0 hidden-sm-down" ng-repeat="table in tables">
                <thead class="thead-default">
              <tr>
                <th>Document Name</th>
                <th class="text-center">Activity</th>
                <th>Description</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
             <tr>
               
                <td>

                  <div>Wing</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                   <div>Viewed</div>
                <!--  <img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                -->
                </td>
                <td>
                   <div> Document viewed </div>
                <!--  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">25/100 Signed - In Progess</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  -->
                </td>

                <td>
                  <div>24th April 2017</div>
                  <!--
                  <div class="small text-muted">Ashok Kadsur</div>
                  <strong>10 sec ago</strong>-->
                </td>
                
              </tr>

              <tr>
               
                <td>

                  <div>Whitney</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Admin</div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
               -->
                </td>
                <td>
                    <div> Banaglore </div>
                </td>

                <td>
                    <div>#9876543210</div>
                </td>
                
              </tr>
              <tr>
               
                <td>

                  <div>Oliver</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Admin </div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                
                -->
                </td>
                <td>
                   <div> Banaglore </div>
                </td>

                <td>
                     <div>#9876543210</div>
                </td>
                
              </tr>
              <tr>
                
                <td>

                  <div>Vladimir</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Admin</div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                
                -->
                </td>
                <td>
                  <div> Banaglore </div>
                </td>

                <td>
                    <div>#9876543210</div>
                </td>
                
              </tr>
              <tr>
               
                <td>

                  <div>Maggy</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Manager</div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/2.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
               -->
                </td>
                <td>
                    <div> Banaglore </div>
                </td>

                <td>
                    <div>#9876543210</div>
                </td>
                
              </tr>           
            </tbody>
          </table>




















        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart user-profile-icon"></i> Profile</ng-template>
        *About me here
        </tab>
      </tabset>    
    </div>
   </div>
</div>
