<div class="animated fadeIn">
 <div class="row">

    <div class="col-sm-4 col-md-2">
      <div class="card">
        <div class="card-block text-center">
          <i class="filetypes filetypes-pdf x2"></i>
         
        </div>
        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
      </div>
    </div>

     <div class="col-sm-4 col-md-2">
      <div class="card">
        <div class="card-block text-center">
          <i class="filetypes filetypes-pdf x2"></i>
         
        </div>
        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
      </div>
    </div>

     <div class="col-sm-4 col-md-2">
      <div class="card">
        <div class="card-block text-center">
          <i class="filetypes filetypes-pdf x2"></i>
         
        </div>
        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
      </div>
    </div>

     <div class="col-sm-4 col-md-2">
      <div class="card">
        <div class="card-block text-center">
          <i class="filetypes filetypes-pdf x2"></i>
         
        </div>
        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
      </div>
    </div>

     <div class="col-sm-4 col-md-2">
      <div class="card">
        <div class="card-block text-center">
          <i class="filetypes filetypes-pdf x2"></i>
         
        </div>
        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
      </div>
    </div>

    <div class="col-sm-4 col-md-2">
      <div class="card">
        <div class="card-block text-center">
          <i class="filetypes filetypes-pdf x2"></i>
         
        </div>
        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
      </div>
    </div> 
    
    <div class="col-sm-4 col-md-2">
      <div class="card">
        <div class="card-block text-center">
          <i class="filetypes filetypes-pdf x2"></i>
         
        </div>
        <div class="card-footer" style="word-wrap: break-word;">DocumentName.filetypes-pdf</div>
      </div>
    </div>


  
  </div>
</div>
