<div class="animated fadeIn">

  <div class="card-block">

    <table class="table table-hover table-outline mb-0 hidden-sm-down" ng-repeat="table in tables">
      <thead class="thead-default">
      <tr>
        <th class="text-center"><i class="icon-people"></i></th>
        <th>Document Name</th>
        <th class="text-center">Signatories</th>
        <th>Status</th>
        <th>Activity</th>
        <th class="text-center">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let document of documentsList">
        <td class="text-center">
          <div class="avatar" >
            <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" >
            <span class="avatar-status badge-success"></span>
          </div>
        </td>
        <td>

          <div>{{document.signDeskDocument.document_name}}</div>
          <div class="small text-muted">
            Created {{document.signDeskDocument.created_at}}
          </div>
        </td>
        <td class="text-center">

          <img *ngFor="let item of createRange(document.signersCount); " src="assets/img/avatars/no-image.png" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" >
        </td>
        <td>


          <!--ng-="getSigners({{document.document_id}}) <div class="clearfix">
             <div class="float-left">
               <strong>50%</strong>
             </div>
             <div class="float-right">
               <small class="text-muted">25/100 Signed - In Progess</small>
             </div>
           </div>
           <div class="progress progress-xs">
             <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
           </div>-->
        </td>

        <td>

          <!--  <div class="small text-muted">Ashok Kadsur</div>
            <strong>10 sec ago</strong>-->
        </td>
        <td class="text-center">



                <span class="btn-group">
                    <button type="button" class="btn btn-secondary pointer" [routerLink]="['/documents/view/',document.signDeskDocument._id]" ><span class="fa fa-eye"></span></button>
                   <!-- <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>-->
                    <a type="button" class="btn btn-secondary pointer"  href="{{appConfig.serverAddress}}/api/esign/download/original/{{document.signDeskDocument._id}}" ><span class="fa fa-cloud-download"></span></a>
                  <!--  <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>-->
                </span>

        </td>
      </tr>

      <tr *ngIf="documentsList?.length==0" >
        <td colspan="6" align="center"> No records found.</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
