<div class=" row animated fadeIn" >

      <!-- page content -->
      <div class="right_col" role="main" style="width: 100%;">
        <div class="">

          <div class="clearfix"></div>

          <div class="row" >


            <div class="col-md-12">


              <div class="x_panel">

                <div class="x_content">
                  <div class="row">
                    <!-- /MAIL LIST -->

                    <!-- CONTENT MAIL -->
                    <div class="col-sm-9 ">
                      <div class="inbox-body">
                        <div class="mail_heading row">
                          <div class="col-md-8">
                            <div >
<!--                                <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-print"></i> Print</button>
-->                            </div>
                          </div>
                          <div class="col-md-4 text-right">
                            <p class="date"> Date : {{createdDateTime}}</p>
                          </div>
                          <div class="col-md-12">
                            <h4> {{documentTitle}}</h4>
                          </div>
                        </div>

                        <div class="view-mail">  <iframe border="0" id="file_preview"  style="width: 100%; height: 100vh;" ></iframe></div>
                     
                        <div >

<!--                          <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-print"></i> Print</button>
-->                        </div>
                      </div>

                    </div>
                    <!-- /CONTENT MAIL -->



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->







</div>
