<div class=" row animated fadeIn" >

      <!-- page content -->
      <div class="right_col" role="main" style="width: 100%;">
        <div class="">

          <div class="clearfix"></div>

          <div class="row" >


            <div class="col-md-12">


              <div class="x_panel">

                <div class="x_content">
                  <div class="row">
                    <!-- /MAIL LIST -->

                    <!-- CONTENT MAIL -->
                    <div class="col-sm-9 ">
                      <div class="inbox-body">
                        <div class="mail_heading row">
                          <div class="col-md-8">
                            <div >
                                <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-print"></i> Print</button>
                            </div>
                          </div>
                          <div class="col-md-4 text-right">
                            <p class="date"> Date : {{createdDateTime}}</p>
                          </div>
                          <div class="col-md-12">
                            <h4> {{documentTitle}}</h4>
                          </div>
                        </div>

                        <div class="view-mail">  <iframe border="0" id="file_preview"  style="width: 100%; height: 100vh;" ></iframe></div>
                       <div class="attachment">
                          <p>
                            <span><i class="fa fa-paperclip"></i>attachments — </span>
                            <a href="#">Download all attachments</a> |
                            <a href="#">View all images</a>
                          </p>
                          <ul>
                          <li *ngFor="let supportingDocument of documentsList.suporting_documents">
                             
                                  <div class="card-block text-center">
                                 <i class="filetypes filetypes-pdf x2"></i>
                                <!--<img src="assets/img/inbox.png" alt="img" />-->
                                 <a href="#" class="atch-thumb"> </a>
                                  </div>
                             

                              <div class="file-name" style="text-overflow: ellipsis; width: 93%; overflow: hidden;">
                                {{supportingDocument.filename}}
                              </div>
                            <!--  <span>12KB</span>-->

                              <div class="links">
                                <a href="#/documents/view/supportingdocuments/{{documentsList._id}}/{{supportingDocument.id}}" target="_blank">view</a>-
<!--                                   <button type="button" class="btn btn-secondary pointer" [routerLink]="['/documents/view/supportingdocuments/',documentsList._id,supportingDocument._id]" ><span >view</span></button>
-->                                <a href="{{appConfig.serverAddress}}/api/esign/download/supportingDocuments/{{documentsList.created_by}}/{{supportingDocument.filename}}">Download</a>
                              </div>
                            </li>         
                         

                          </ul>
                        </div>
                        <div >

                          <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-print"></i> Print</button>
                        </div>
                      </div>

                    </div>
                    <!-- /CONTENT MAIL -->


                    <div class="col-sm-3 mail_list_column">

                      <div class="x_title">
                        <h4>Signatories <span class="badge bg-green" style="color: white"> {{signerList.length}}</span>  </h4>

                        <div class="clearfix"></div>
                      </div>

                      <a href="javascript:void(0)" *ngFor="let signer of signerList"  >
                        <div class="mail_list">
                          <div class="left">
                            <i class="fa fa-envelope" *ngIf="signer.status"  ></i>
                            <i class="fa fa-eye" *ngIf="signer.status=='viewed' || signer.status=='signed'"  ></i>
                            <i class="fa fa-check"  *ngIf="signer.status=='signed'"></i>
                          </div>
                          <div class="right">
                            <h3>{{signer.name}} <small>{{signer.invited_at | date: 'hh:mm a'}} </small></h3>
                            <p>Invited on {{signer.invited_at | date: 'dd/MM/yyyy'}} </p>

                          </div>
                        </div>
                      </a>


                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->







</div>
