<div class="animated fadeIn">
 
<div class="card-block">

          <table class="table table-hover table-outline mb-0 hidden-sm-down" ng-repeat="table in tables">
                <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User Name</th>
                <th class="text-center">Role</th>
                <th>Address</th>
                <th>Phone</th>
                <th class="text-center">Edit</th>
              </tr>
            </thead>
            <tbody>
             <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Wing</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                   <div>Admin</div>
                <!--  <img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                -->
                </td>
                <td>
                   <div> Banaglore </div>
                <!--  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">25/100 Signed - In Progess</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  -->
                </td>

                <td>
                  <div>#9876543210</div>
                  <!--
                  <div class="small text-muted">Ashok Kadsur</div>
                  <strong>10 sec ago</strong>-->
                </td>
                <td class="text-center">



                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>

              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/4.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Whitney</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Admin</div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
               -->
                </td>
                <td>
                    <div> Banaglore </div>
                </td>

                <td>
                    <div>#9876543210</div>
                </td>
                <td class="text-center">

                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/5.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Oliver</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Admin </div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                
                -->
                </td>
                <td>
                   <div> Banaglore </div>
                </td>

                <td>
                     <div>#9876543210</div>
                </td>
                <td class="text-center">

                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Vladimir</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Admin</div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                
                -->
                </td>
                <td>
                  <div> Banaglore </div>
                </td>

                <td>
                    <div>#9876543210</div>
                </td>
                <td class="text-center">

                <span class="btn-group">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>
                </span>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/6.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>

                  <div>Maggy</div>
                  <div class="small text-muted">
                    Created 01.01.2017
                  </div>
                </td>
                <td class="text-center">
                  <div>Manager</div>
                  <!--<img src="assets/img/avatars/3.jpg" class="img-avatar"  style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/2.jpg">
                  <img src="assets/img/avatars/3.jpg" class="img-avatar" style="height:35px;" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
               -->
                </td>
                <td>
                    <div> Banaglore </div>
                </td>

                <td>
                    <div>#9876543210</div>
                </td>
                <td class="text-center">

                <span class="btn-group">

<button class="btn btn-sm btn-primary " type="button"><i class="fa fa-user fa-sm "></i>&nbsp; View </button>
<button class="btn btn-primary btn-sm" type="button"><i class="fa fa-edit fa-sm "></i>&nbsp; Permissions</button>
<button class="btn btn-primary btn-sm" type="button"><i class="fa fa-trash fa-sm "></i></button>


                  <!--  <button type="button" class="btn btn-secondary"><span class="fa fa-eye"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-edit"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-cloud-download"></span></button>
                    <button type="button" class="btn btn-secondary"><span class="fa fa-plus"></span></button>-->
                </span>

                </td>
              </tr>           
            </tbody>
          </table>
</div>
</div>
